<nav class="navbar navbar-expand-lg  sticky-top navbar-variant bg-dark text-secondary">
    <div class="container-fluid">
      <a class="navbar-brand text-white " href="#">YelpCamp</a>
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon "><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav text-white">
          <a class="nav-link text-white" aria-current="page" href="/">Home</a>
          <a class="nav-link text-white"  href="/campgrounds">Campgrounds</a>
          <a class="nav-link text-white" href="/campgrounds/new">New Campground </a>
        </div>

        <div class="navbar-nav ms-auto">
          <% if(!currentUser) {%>
          <a class="nav-link text-white" href="/login">Login</a>
          <a class="nav-link text-white" href="/register">Sign Up</a>
          <% } else{ %>
          <a class="nav-link text-white" href="/logout">Logout</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>